
html {
    -ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
}
body,
div,
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
body {
    width: 100%;
    *cursor: default;
    overflow: hidden;
    font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#pageContain {
    overflow: hidden;
    perspective: 500;
    -webkit-perspective: 500;
}
.page {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    box-shadow: 0 0 5px 0 #444;
    top: 0;
    left: 0;
}
.contain {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    z-index: 0;
}
.current .contain,.slide .contain {
    display: block;
}
.current {
    display: block;
    z-index: 1;
}
.slide {
    display: block;
    z-index: 2;
}
.swipe {
    display: block;
    z-index: 3;
    transition-duration: 0ms !important;
    -webkit-transition-duration: 0ms !important;
}
.page1 {
    background: #37c1e3;
}
.page2 {
    background: #009922;
}
.page3 {
    background: #992211;
}
.page4 {
    background: #ff00ff;
}
.page5 {
    background: #00ff00;
}
.page6 {
    background: #22ffff;
}
#navBar {
    display: none;
}


.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-fl{float:left;}
.box{
    display: box;
    display: -webkit-box;
    display: -moz-box;
}
.box .cli{
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}





.title-num{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 1.5;
}
.title-num img{
    width: 50px;
}
.title-num p{
    position: absolute;
    color: white;
    top: 20px;
    left: 21px;
    width: 20px;
    text-align: center;
}


.next-qus, .next-quso{
    position: fixed;
    bottom: 10px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    line-height: 1.5;
    display: none;
}


.page .midle {
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.4;
}
.page .midle .tit{
    font-size: 0.9rem;
}
.welcom .contain{
    overflow: hidden;
}
.welcom .bg{
    width: 100%;
    display: none;
    transform-origin:100% 100%;
    -webkit-transform-origin:100% 100%;
    -webkit-animation:formtop 1.5s ease-in-out 0.5s both;
    animation:formtop 1.5s ease-in-out 0.5s both;
}
.welcom .start {
    width: 100px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 2%;
    display: block;
    margin-left: 0;
    display: none;

    transform-origin:100% 100%;
    -webkit-transform-origin:100% 100%;
    -webkit-animation:bengbeng 1s ease-in-out 1.5s both;
    animation:bengbeng 1s ease-in-out 1.5s both;
}
.loading{
    width: 140px;
    height: 44px;
    padding: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px 0 #aaa;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -22px;

}
.loading .line{
    height: 4px;
    transition-duration:0.5s;
    -webkit-transition-duration:1s;
    width: 1%;
    background-color: darkorange;
    border-radius: 3px;
}


.qus-detail{
    padding: 0 10px;
    text-align: center;
}
.qus-detail .img-show{

    max-width: 88%;
    min-height: 150px;

    margin: 10px auto;
}

.qus-detail .answer{
    font-size: 0;
}
.qus-detail .answer div.f-ib{
    font-size: 0.85rem;
    width:50%;
    vertical-align: top;
    padding: 5px 0;
}

.qus-detail .answer img{
    width: 14px;
    vertical-align:middle;
}
.qus-detail .answer .cli{
    text-align: left;
}



/*动画*/
.from-right{
    transform-origin:50% 50%;
    -webkit-transform-origin:50% 50%;
    -webkit-animation: formright 1s ease-in-out 0.2s both;
    animation: formright 1s ease-in-out 0.2s both;
}
.rotate{
    transform-origin:50% 50%;
    -webkit-transform-origin:50% 50%;
    -webkit-animation: rotate_ 1s ease-in-out 0.2s both;
    animation: rotate_ 1s ease-in-out 0.2s both;
}

@keyframes rotate_
{
    0%   {transform: rotate(360deg);  }
    100%   {transform: rotate(0deg);  }
}
@-webkit-keyframes rotate_ /* Safari �� Chrome */
{
    0%   {-webkit-transform: rotate(360deg);  }
    100% {-webkit-transform: rotate(0deg);  }
}

@keyframes formright
{
    0%   {transform:  translateX(100px);  opacity: 0;}
    100%   {transform: translateX(0);   opacity: 1;}
}
@-webkit-keyframes formright /* Safari �� Chrome */
{
    0%   {-webkit-transform: translateX(100px);   opacity: 0;}
    100% {-webkit-transform: translateX(0);   opacity: 1;}
}

@keyframes formtop
{
    0%   {transform:  translateY(-50px);  opacity: 0;}
    100%   {transform: translateY(0);   opacity: 1;}
}
@-webkit-keyframes formright /* Safari �� Chrome */
{
    0%   {-webkit-transform: translateY(-50px);   opacity: 0;}
    100% {-webkit-transform: translateY(0);   opacity: 1;}
}


.result .result-pic{
    text-align: center;
}
.result .result-pic img{
    max-width: 100%;
    max-height: 100%;
}
.result .operate{
    height: 100px;
    line-height: 1;
    text-align: center;
}
.result .operate a{
    width: 48%;
    text-align: center;
}
.result .operate a img{
    width: 150px;
}
.answer-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
.right-answer{
    position: fixed;
    top: 13%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    display: none;
    transform-origin:50% 50%;
    -webkit-transform-origin:50% 50%;
    -webkit-animation:bengbeng 1s ease-in-out 0s both;
    animation:bengbeng 1s ease-in-out 0s both;
}
.wrong-answer{
    position: fixed;
    top: 13%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    display: none;
    transform-origin:50% 50%;
    -webkit-transform-origin:50% 50%;
    -webkit-animation:bengbeng 1s ease-in-out 0s both;
    animation:bengbeng 1s ease-in-out 0s both;
}

@keyframes bengbeng
{
    0%   {transform: scale(0.001, 0.001);  }
    45%   {transform: scale(1.2, 1.2);  }
    75%   {transform: scale(0.7, 0.7);  }

    100% {transform: scale(1, 1);  }
}
@-webkit-keyframes bengbeng /* Safari �� Chrome */
{
    0%   {-webkit-transform: scale(0.001, 0.001);  }
    45%   {-webkit-transform: scale(1.2, 1.2);  }
    75%   {transform: scale(0.7, 0.7);  }

    100% {-webkit-transform: scale(1, 1);  }
}

.invite{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    display: none;
    transform-origin:100% 100%;
    -webkit-transform-origin:100% 100%;
    -webkit-animation:formtop 1s ease-in-out 0s both;
    animation:formtop 1s ease-in-out 0s both;
}
.invite img{
    position: absolute;
    top: 25px;
    right: 25px;
    max-width: 80%;
}