<div class="user-manage">



</div>


<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{modaTitle}}</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon">用户名</span>
          <input type="text" class="form-control" placeholder="setUserame" aria-describedby="basic-addon1" ng-model="editUser.userName">
        </div>
        <br>
        <br>
        <div class="input-group">
          <span class="input-group-addon">密&emsp;码</span>
          <input type="text" class="form-control" placeholder="setPass" aria-describedby="basic-addon1" ng-model="editUser.pass">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="saveUserOP()">确定</button>
      </div>
    </div>
  </div>
</div>
